<footer class="bg-blue-900 text-white py-6 mt-auto w-full relative z-30">
  <div
    class="max-w-7xl mx-auto px-6 flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0"
  >
    <p class="text-sm text-blue-300">
      &copy; {{ currentYear }} <span class="text-[#ffffff] font-semibold">MediApp</span>. Todos los derechos reservados.
    </p>

    <div class="flex space-x-4">
      <a href="#" class="hover:text-blue-200 transition">Términos</a>
      <a href="#" class="hover:text-blue-200 transition">Privacidad</a>
      <a href="#" class="hover:text-blue-200 transition">Contacto</a>
    </div>
  </div>
</footer>
