<div
  class="absolute top-0 left-0 h-full w-full overflow-hidden bg-blue-900 bg-linear-to-b from-blue-700 via-blue-400 to-blue-300">
</div>

<div class="relative flex min-h-screen items-center justify-evenly rounded-3xl bg-transparent shadow-xl">

  <div class="z-10 hidden flex-col self-center sm:max-w-4xl lg:flex lg:px-14 xl:max-w-3xl w-full">

    <swiper-container class="w-full h-[450px] rounded-3xl overflow-hidden shadow-xl border-2 border-blue-500"
      loop="true" autoplay-delay="3000" autoplay-disable-on-interaction="false" effect="fade">
      <swiper-slide>
        <img src="/img/Negocio1.jpg" alt="Imagen del negocio 1" class="w-full h-full object-cover">
      </swiper-slide>

      <swiper-slide>
        <img src="img/Negocio2.jpg" alt="Imagen del negocio 2" class="w-full h-full object-cover">
      </swiper-slide>

      <swiper-slide>
        <img src="/img/Logo.jpg" alt="Imagen del negocio 3" class="w-full h-full object-cover">
      </swiper-slide>

    </swiper-container>
  </div>

  <div class="z-10 flex justify-center self-center">
    <div class="mx-auto w-96 rounded-3xl bg-white p-12 border-2 border-blue-500">
      <div class="mb-7">
        <h3 class="text-2xl font-semibold text-blue-950">Iniciar Sesión</h3>
        <p class="text-blue-950">
          ¿No tienes una cuenta?
          <a routerLink="/register"
            class="text-sm text-blue-950 hover:text-blue-600 transition-colors duration-200 ease-in-out cursor-pointer">Regístrate</a>
        </p>
      </div>

      @if (errorMessage) {
      <div class="mb-4 rounded-lg border border-red-300 bg-red-50 p-3 text-center text-sm text-red-700">
        {{ errorMessage }}
      </div>
      }

      <form class="space-y-4" (ngSubmit)="login()" #loginForm="ngForm">

        <div>
          <input type="text" placeholder="Cédula" name="cedula" [(ngModel)]="formData.cedula" #cedulaInput="ngModel"
            required
            class="w-full rounded-lg border bg-blue-100 px-4 py-3 text-sm text-blue-950 focus:border-blue-800 focus:bg-blue-200 focus:outline-none focus:scale-[1.03] transition-transform duration-300 ease-out"
            [class.border-red-500]="cedulaInput.invalid && (cedulaInput.dirty || cedulaInput.touched)" />

          @if (cedulaInput.invalid && (cedulaInput.dirty || cedulaInput.touched)) {
          <div class="mt-1 text-xs text-red-600">
            @if (cedulaInput.errors?.['required']) {
            <span>La cédula es obligatoria.</span>
            }
          </div>
          }
        </div>

        <div class="relative">
          <input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" name="password" [(ngModel)]="formData.password"
            #contrasenaInput="ngModel" required
            class="w-full rounded-lg border bg-blue-100 px-4 py-3 text-sm text-blue-950 focus:border-blue-800 focus:bg-blue-200 focus:outline-none focus:scale-[1.03] transition-transform duration-300 ease-out"
            [class.border-red-500]="contrasenaInput.invalid && (contrasenaInput.dirty || contrasenaInput.touched)" />
          <button type="button" (click)="showPassword = !showPassword"
            class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer">
            @if (!showPassword) {
            <svg class="h-5 w-5 text-blue-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
            } @else {
            <svg class="h-5 w-5 text-blue-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L12 12" />
            </svg>
            }
          </button>

          @if (contrasenaInput.invalid && (contrasenaInput.dirty || contrasenaInput.touched)) {
          <div class="mt-1 text-xs text-red-600">
            @if (contrasenaInput.errors?.['required']) {
            <span>La contraseña es obligatoria.</span>
            }
          </div>
          }
        </div>
        <div>
          <button type="submit" [disabled]="!loginForm.form.valid || isLoading" class="w-full cursor-pointer justify-center rounded-lg p-3 font-semibold tracking-wide text-white
                     bg-linear-to-br from-blue-800 via-blue-700 to-blue-800
                     transition-all duration-300 ease-in-out
                     hover:scale-105 hover:contrast-125
                     disabled:cursor-not-allowed disabled:scale-100 disabled:bg-gray-400 disabled:contrast-100">

            @if (!isLoading) {
            <span>Iniciar Sesión</span>
            } @else {
            <span>Verificando...</span>
            }
          </button>
        </div>
      </form>

      <div class="my-5 flex items-center justify-center space-x-2">
        <span class="h-px w-16 bg-blue-300"></span>
        <span class="font-normal text-blue-400">o</span>
        <span class="h-px w-16 bg-blue-300"></span>
      </div>
    </div>
  </div>
</div>